<!DOCTYPE html>
<html lang="en" class="h-screen">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>URL Shortener</title>
    </head>
    <body>
        <h1>{{.Error}}</h1>
        <button type="button">
            <a href="/">Back To Home</a>
        </button>
        
    </body>

    <style>
    .h-screen{
        color-scheme: dark;
        font-family: monospace;
        text-align: center;
        color: #d1d0c5;
    }

    h1 {
        font-size: 4em;
        margin-top: 100px;
    }
    a {
        text-decoration: none;
        color: #d1d0c5;
    }
    button {
        height: 2.5em;
        width: 8em;
        border-radius: 0.5em;
        background-color: #121212;
        color: #d1d0c5;
        border: 2px solid #d1d0c5;
    }
    </style>
</html>
